:root {
    --accent: '#4CAF50';
    --grey-darken-5: #121212;
    --grey-darken-4: #212121;
    --grey-darken-3: #424242;
    --grey-darken-2: #616161;
    --grey-darken-1: #757575;
    --grey: #9E9E9E;
    --grey-lighten-1: #BDBDBD;
    --grey-lighten-2: #E0E0E0;
    --grey-lighten-3: #EEEEEE;
    --grey-lighten-4: #E0E0E0;
    --grey-lighten-5: #FAFAFA;
}