.map-marker {
  &__station {
    cursor: pointer;
    font-size: 22px;

    &:hover {
      font-size: 26px;
      .map-marker__station-tooltip {
        display: block;
      }
    }
    &-tooltip {
      display: none;
      position: absolute;
      top: -24px;
      left: 0;
      width: fit-content;
      white-space: nowrap;
    }

    &_active {
      font-size: 30px;
      color: red
    }
  }
}
