@import './vars';

.map-marker {
  cursor: pointer;

  &__station {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;

    &:hover {
      .map-marker__station-tooltip {
        display: block;
      }
    }
    &-tooltip {
      display: none;
      position: absolute;
      top: -24px;
      left: 0;
      width: fit-content;
      white-space: nowrap;
    }

    &-concentration {
      font-size: 14px;
      &_empty {
        font-size: 22px;
      }
    }

    &_active {
      // font-size: 30px;
      // color: red
      opacity: 1;
    }
  }
}
